body {font-family: 'Roboto', sans-serif;
        color:var(--main-color);}

container-header {margin-top: 24px;
        margin-bottom: 24px;}

ul {text-decoration: none;}
h1,h2,h3,h4 {margin: 0px;}


.container {max-width: 1158px;
            width: 100vw;
            margin:0px auto;}

.container li {text-decoration-line: none;}


:root {--main-color: #2E2F42;
       --heighlight-bgcolor: #404BBF;
       --heighlight-color: white;
       --ro400-s16-lh24: normal normal 400 16px/24px Roboto, sans-serif;
       --ro500-s20-lh24: normal normal 500 20px/24px Roboto, sans-serif;
       --ro500-s16-lh24: normal normal 500 16px/24px Roboto, sans-serif;
       --logo-ra700-s18-lh21: normal normal 700 18px/21px 'Raleway', sans-serif;
       --current-section: #4D5AE5;
       --first-heading: normal normal 700 56px/60px Roboto, sans-serif;
       --second-heading: normal normal 700 36px/40px Roboto, sans-serif;}
 
/*Testing segment*/
.testing {background-color: blueviolet;
          color: greenyellow;
          text-align: center;
        padding: 188px 472px 292px 472px;} 
        
.comanda-cadouri {padding: 16px 32px;}


/*HEADER/

/*HEADER decoration*/
.navigation-address {display: flex;
                     flex-direction: row;
                     justify-content:flex-start;
                     align-items: center;}
/*.navigation-menu {width: 261px;}*/


/*LOGO decoration*/
.logo {font: var(--logo-ra700-s18-lh21);
        text-decoration: none;
        width: 115px;}

.logo-web {color:#4D5AE5;}

.logo-studio-header  {color: var(--main-color);}


/*NAV decoration*/
.nav-link {text-decoration: none;
           font: var(--ro500-s16-lh24);}
        
.navigation-pages {list-style-type: none;
                   display: flex;
                   flex-direction: row;
                   width: 261px;
                   justify-content: space-between;
                   margin-left:76px;}

.nav-link {color: var(--main-color);}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {border-bottom: 1px;
                  border-style: solid;} /*temporari border*/
.current {color: var(--current-section);}



/*ADDRESS decoration*/
.header-address { display: flex;
                flex-direction: row;
                font: var(--ro400-s16-lh24);
                color:#434455;
                list-style-type: none;
                margin-left: 332px;
                gap:40px;}
.header-address li:hover,:focus {color: var(--heighlight-bgcolor);}


.heading {box-sizing: border-box;
        color: white;
        background-color: var(--main-color);
        text-align: center;
        padding:188px 472px 184px 472px;}
        /*margin-left: 156px; temporary dislay*/
        /*margin-right: 156px; temporary dislay*/

.first-header  {font: var(--first-heading);}

.order-service-button {font:var(--ro500-s16-lh24);
                        background-color: #4D5AE5;
                        color: white;
                        cursor: pointer;
                        padding: 16px 32px;
                        width: 169px;
                        margin-top: 48px;}

.order-service-button:focus {color: var(--heighlight-bgcolor);
                            background-color: white;
                            border-radius: 25px;}
#header-border {border:1px solid #E7E9FC;}

/*MENU*/

.section {padding-top: 120px;
          padding-bottom: 120px;}
#company-skills {padding-top: 120px;
                 padding-bottom: 0px;}


/*MENU BUTTONS*/
#page-buttons {list-style-type: none;
                cursor: pointer;}



.buttons-line button {font: var(--ro500-s16-lh24);
                        color: #4D5AE5;
                        border: 1px solid #E7E9FC;
                        border-radius: 4px;
                        cursor: pointer;
                        text-align: center;}

.buttons-line button:hover,
.buttons-line button:focus {background-color: var(--heighlight-bgcolor);
                     color: var(--heighlight-color); }

/*ALL-BUTTON description*/

#business-info h2, 
#employees h2 {text-align: center;
                font: var(--second-heading);}
                

.cards-description {list-style-type: none;
                    display: flex;
                    flex-direction: row;}

.card-description-studio,
.card-description-portofolio {background-color: white;} 

.card-description-studio h3 {font: var(--ro500-s20-lh24);
                             color: var(--main-color);}

.card-description-studio h4 {font: var(--ro400-s16-lh24);
                             color: #434455;}

.card-description-portofolio h3 {font: var(--ro500-s20-lh24);
                                color: var(--main-color);}

.card-description-portofolio h4 {font: var(--ro400-s16-lh24);
                                 color: #434455;}

/*.card-description-portofolio {border:1px solid #E7E9FC;} temporary added*/

#employees {background-color: #F4F4FD;}

#grid-container { display: grid;
                  grid-template-columns: auto auto auto;}

/*FOOTER*/
.footer {background-color: var(--main-color);}
.footer section {padding-top: 100px;
        padding-bottom: 100px;
        padding-right: 900px;}

.logo-web {color:#4D5AE5;
           text-decoration: none;}
.logo-studio-footer  {color: #F4F4FD;}

.footer-description {font: var(--ro400-s16-lh24);
                     color: #F4F4FD;}
/*.footer section {width: 264px;
                 padding-top: 100px;
                padding-left: 156px;}*/

